input  {
    display: block;
    margin: auto;
}

#container {
    font-family: -webkit-pictograph;
    font-weight: bold;
    background-color: aquamarine;
    text-align: center;
    border-radius: 20%;
}

input, select , button {
    border-radius: 20%;
    text-align: center;
    outline:none;
}